In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximenml0613/raw/master/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ximenml0613/raw/master/test.csv"
urlretrieve(url, "test.csv")

In [2]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding="utf-8")
test_df = pd.read_csv("test.csv", encoding="utf-8")

In [ ]:
train_df.isna().sum()

In [ ]:
test_df.isna().sum()

In [11]:
# 1.補中位數 2. Pclass(no 中位數) 3. test不重算
med = train_df.median().drop(["Pclass"])
train_df = train_df.fillna(med)
test_df = test_df.fillna(med)

In [14]:
# 2. 捕最常出現 2. Pclass(yes 最常出現)
most = train_df["Embarked"].value_counts().idxmax()
train_df["Embarked"] = train_df["Embarked"].fillna(most)