In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/Elwing-Chou/ximenml0613/raw/master/train.csv"
urlretrieve(url, "train.csv")
url = "https://github.com/Elwing-Chou/ximenml0613/raw/master/test.csv"
urlretrieve(url, "test.csv")

In [2]:
import pandas as pd
train_df = pd.read_csv("train.csv", encoding="utf-8")
test_df = pd.read_csv("test.csv", encoding="utf-8")

In [ ]:
train_df.isna().sum()

In [ ]:
test_df.isna().sum()

In [11]:
# 1.補中位數 2. Pclass(no 中位數) 3. test不重算
med = train_df.median().drop(["Pclass"])
train_df = train_df.fillna(med)
test_df = test_df.fillna(med)

In [14]:
# 2. 捕最常出現 2. Pclass(yes 最常出現)
most = train_df["Embarked"].value_counts().idxmax()
train_df["Embarked"] = train_df["Embarked"].fillna(most)

In [ ]:
def namecut(n):
    n = n.split(",")[-1].split(".")[0]
    n = n.strip()
    return n
mid = train_df["Name"].apply(namecut)
mid.value_counts()

In [ ]:
def namecut(n):
    n = n.split(",")[-1].split(".")[0]
    n = n.strip()
    whitelist = ["Mr", "Mrs", "Miss", "Master"]
    if n in whitelist:
        return n
    else:
        return None
train_df["Name"] = train_df["Name"].apply(namecut)
test_df["Name"] = test_df["Name"].apply(namecut)
train_df

In [18]:
x_train = train_df.drop(["PassengerId", "Survived", "Ticket", "Cabin"], axis=1)
x_test = test_df.drop(["PassengerId", "Ticket", "Cabin"], axis=1)
y_train = train_df["Survived"]

In [20]:
x_train = pd.get_dummies(x_train)
x_test = pd.get_dummies(x_test)

In [22]:
x_test

     Pclass   Age  SibSp  Parch  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         3  34.5      0      0  ...         1           0           1           0
1         3  47.0      1      0  ...         0           0           0           1
2         2  62.0      0      0  ...         1           0           1           0
3         3  27.0      0      0  ...         1           0           0           1
4         3  22.0      1      1  ...         0           0           0           1
..      ...   ...    ...    ...  ...       ...         ...         ...         ...
413       3  28.0      0      0  ...         1           0           0           1
414       1  39.0      0      0  ...         0           1           0           0
415       3  38.5      0      0  ...         1           0           0           1
416       3  28.0      0      0  ...         1           0           0           1
417       3  28.0      1      1  ...         1           1           0           0

[418 rows x 14 columns]